.upDate {
  width: 900px;
  height: 100%;
  margin: 10px auto 0 auto; }
  .upDate i {
    margin: 0;
    padding: 0;
    margin-left: -4px; }
  .upDate .topNav {
    line-height: 45px; }
    .upDate .topNav li {
      float: left;
      color: #999; }
    .upDate .topNav a {
      font-size: 14px;
      color: #999; }
  .upDate .dateCon {
    width: 802px;
    background-color: #fff;
    padding: 0 49px 34px 49px;
    clear: both;
    box-shadow: 0 1px 5px #ccc; }
    .upDate .dateCon .headNav {
      width: 100%;
      line-height: 62px;
      border-bottom: #dedede 1px solid;
      margin-bottom: 32px;
      position: relative; }
      .upDate .dateCon .headNav .ups {
        display: inline-block;
        width: 85px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        background-color: #d8251e;
        position: absolute;
        right: 10px;
        top: 12px; }
    .upDate .dateCon .introCon {
      width: 802px;
      height: 160px; }
      .upDate .dateCon .introCon .introLeft img {
        width: 160px;
        height: 160px; }
      .upDate .dateCon .introCon .introRight {
        width: 640px; }
        .upDate .dateCon .introCon .introRight .nameHead {
          padding-left: 26px;
          color: #000;
          font-size: 24px;
          margin-bottom: 15px;
          overflow: hidden;
          zoom: 1; }
          .upDate .dateCon .introCon .introRight .nameHead a {
            display: inline-block;
            width: 80px;
            height: 30px;
            border: #dedede 1px solid;
            background: url("../imgs/passbg.jpg") repeat-x;
            color: #333;
            font-size: 12px;
            line-height: 30px;
            text-align: center; }
        .upDate .dateCon .introCon .introRight ul {
          color: #000; }
          .upDate .dateCon .introCon .introRight ul li {
            line-height: 30px; }
            .upDate .dateCon .introCon .introRight ul li span {
              color: #bbb;
              display: inline-block;
              width: 70px;
              text-align: right; }
        .upDate .dateCon .introCon .introRight div li {
          display: inline-block;
          width: 180px; }
    .upDate .dateCon .worksHead {
      width: 802px;
      border-bottom: #dedede 1px solid;
      margin-bottom: 12px;
      clear: both;
      margin-top: 50px;
      overflow: hidden;
      zoom: 1; }
      .upDate .dateCon .worksHead li {
        float: left;
        padding-bottom: 14px;
        width: 150px;
        text-align: center;
        color: #000;
        font-size: 18px;
        cursor: pointer; }
      .upDate .dateCon .worksHead li.styles {
        border-bottom: #d8251e 3px solid; }
    .upDate .dateCon .worksCon {
      width: 802px;
      margin-top: 30px; }
      .upDate .dateCon .worksCon .worksHead {
        width: 802px;
        height: 35px;
        line-height: 35px;
        border-bottom: #dedede 1px solid;
        margin-bottom: 12px;
        overflow: hidden;
        zoom: 1; }
        .upDate .dateCon .worksCon .worksHead .ta {
          width: 160px;
          color: #000;
          font-weight: bold; }
        .upDate .dateCon .worksCon .worksHead .pages {
          width: 600px;
          text-align: right; }
          .upDate .dateCon .worksCon .worksHead .pages a {
            text-decoration: underline;
            margin-right: 5px; }
          .upDate .dateCon .worksCon .worksHead .pages .current {
            color: #999;
            text-decoration: none; }
      .upDate .dateCon .worksCon .choose {
        height: 67px;
        line-height: 67px; }
        .upDate .dateCon .worksCon .choose .chooseTime {
          width: 600px; }
          .upDate .dateCon .worksCon .choose .chooseTime input[type="radio"] {
            vertical-align: middle;
            margin-right: 10px; }
          .upDate .dateCon .worksCon .choose .chooseTime input[type="radio"] {
            margin: 3px 3px 0px 5px;
            display: none; }
          .upDate .dateCon .worksCon .choose .chooseTime label {
            padding-left: 20px;
            cursor: pointer;
            background: url(../imgs/bg.gif) no-repeat left top;
            margin-right: 10px; }
          .upDate .dateCon .worksCon .choose .chooseTime label.checked {
            background-position: left bottom;
            color: #000; }
          .upDate .dateCon .worksCon .choose .chooseTime .radioSpan2 {
            margin-left: 10px; }
          .upDate .dateCon .worksCon .choose .chooseTime input[type="text"] {
            width: 108px;
            line-height: 24px;
            border: #dedede 1px solid;
            margin: 0 13px;
            padding-left: 12px; }
          .upDate .dateCon .worksCon .choose .chooseTime .radioTime {
            margin: 0 10px 0 20px; }
        .upDate .dateCon .worksCon .choose .chooseBtn {
          width: 160px; }
          .upDate .dateCon .worksCon .choose .chooseBtn .shai {
            width: 60px;
            line-height: 32px;
            background-color: #333;
            color: #fff;
            text-align: center; }
          .upDate .dateCon .worksCon .choose .chooseBtn .load {
            width: 78px;
            line-height: 30px;
            border: #dedede 1px solid;
            background: url("../imgs/passbg.jpg") repeat-x;
            text-align: center;
            margin-left: 9px; }
      .upDate .dateCon .worksCon .gains table {
        width: 802px;
        border-collapse: collapse; }
        .upDate .dateCon .worksCon .gains table tr {
          text-align: center;
          line-height: 48px;
          border-bottom: #dedede 1px solid; }
        .upDate .dateCon .worksCon .gains table tr:nth-child(1) {
          line-height: 40px;
          background-color: #f6f6f6;
          border-bottom: none;
          color: #bbb;
          font-size: 12px; }
        .upDate .dateCon .worksCon .gains table tr:nth-child(1) td:nth-child(1) {
          color: #bbb;
          font-size: 12px;
          font-weight: 300; }
        .upDate .dateCon .worksCon .gains table tr td:nth-child(1) {
          width: 163px;
          color: #000;
          font-size: 14px;
          font-weight: bold; }
        .upDate .dateCon .worksCon .gains table tr td:nth-child(2) {
          width: 163px; }
        .upDate .dateCon .worksCon .gains table tr td:nth-child(3) {
          width: 163px; }
        .upDate .dateCon .worksCon .gains table tr td:nth-child(4) {
          width: 163px; }
        .upDate .dateCon .worksCon .gains table tr td:nth-child(5) {
          width: 163px; }
      .upDate .dateCon .worksCon .pageCon {
        margin-top: 30px;
        padding-bottom: 30px;
        line-height: 27px; }
        .upDate .dateCon .worksCon .pageCon .pageLeft {
          width: 580px; }
          .upDate .dateCon .worksCon .pageCon .pageLeft select {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            width: 60px;
            outline: none; }
        .upDate .dateCon .worksCon .pageCon .pageRight {
          width: 220px; }
          .upDate .dateCon .worksCon .pageCon .pageRight a {
            color: #000;
            text-decoration: underline;
            margin-right: 5px; }
          .upDate .dateCon .worksCon .pageCon .pageRight a.style {
            color: #666;
            text-decoration: none; }
          .upDate .dateCon .worksCon .pageCon .pageRight span {
            margin-left: 20px; }
          .upDate .dateCon .worksCon .pageCon .pageRight input {
            width: 30px;
            height: 30px;
            border: #dedede 1px solid;
            background: none; }
    .upDate .dateCon .workDl {
      width: 802px;
      overflow: hidden;
      zoom: 1; }
      .upDate .dateCon .workDl a {
        display: inline-block;
        margin-right: 50px; }
      .upDate .dateCon .workDl dl {
        width: 160px;
        height: 200px;
        float: left; }
        .upDate .dateCon .workDl dl dt {
          position: relative; }
          .upDate .dateCon .workDl dl dt img {
            width: 160px;
            height: 160px; }
          .upDate .dateCon .workDl dl dt .iconn {
            position: absolute;
            right: 0;
            top: -1px; }
        .upDate .dateCon .workDl dl dd {
          display: inline-block;
          width: 160px;
          text-align: center;
          margin-top: 10px;
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .upDate .dateCon .workDl a:nth-child(4n+0) {
        margin-right: 0px; }
    .upDate .dateCon .radios {
      width: 802px;
      overflow: hidden;
      zoom: 1; }
      .upDate .dateCon .radios a {
        display: inline-block;
        margin-right: 50px; }
      .upDate .dateCon .radios dl {
        width: 160px;
        height: 120px;
        float: left;
        margin-bottom: 15px; }
        .upDate .dateCon .radios dl dt {
          width: 100%;
          height: 90px;
          position: relative; }
          .upDate .dateCon .radios dl dt img {
            width: 160px;
            height: 90px; }
          .upDate .dateCon .radios dl dt .dateTime {
            color: #fff;
            width: 64px;
            height: 20px;
            background-color: #000;
            text-align: center;
            line-height: 20px;
            position: absolute;
            right: 0;
            top: 0; }
        .upDate .dateCon .radios dl dd {
          color: #000;
          margin-top: 13px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      .upDate .dateCon .radios a:nth-child(5n+0) {
        margin-right: 0px; }
  .upDate .btns {
    margin: 0 32%; }
    .upDate .btns a {
      display: inline-block;
      width: 126px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #dedede;
      font-size: 16px; }
    .upDate .btns .up {
      background-color: #333; }
    .upDate .btns .down {
      background-color: #d8251e;
      margin-left: 20px; }

.dateFoot {
  width: 100%;
  line-height: 58px;
  text-align: center;
  color: #666;
  font-size: 14px;
  background-color: #f6f6f6;
  box-shadow: 0 1px 5px #ccc; }

/*# sourceMappingURL=artist.css.map */
