body{height: 100%;overflow: hidden;}
.block{
  padding: 80px 50px 50px 50px;position: absolute;width:400px;top:190px;;left:50%;margin-left: -250px;
  background: #fff;border:1px solid #dedede;box-shadow: 0px 2px 6px #dedede;border-radius: 8px;

}
.loginBK{
  .table.title{background-position: -1px -1px }
}
.title{ height: 80px;background-image: url('../imgs/common.png');position: absolute;left:0;right:0;top:0;}
.table{
  font-size: 16px;margin: 0;
  .tr{
    overflow: hidden;
    .inputWrapper{
       input[type="text"],input[type="password"]{width:290px; }
     }

    .label{
      float: left;text-align: center;line-height: 16px;
      .name{letter-spacing: 2px;margin-top: 6px;}
      .help{font-size: 12px;color: #dedede;letter-spacing: 2px;}
    }
    .con{margin-left: 90px;}
    .forgetPassword{
      text-align: right;font-size: 14px;
      a{color: #bbb;}
    }
  }
  .tr{float: none;clear: both;content: "";display: block; }
}
.errorMSG{color: #d8251e;text-align: center;}
