.upDate{
  width: 900px;
  height: 100%;
  margin: 10px auto 0 auto;
  .topNav{
    line-height: 45px;
    li{
      float: left;
      color: #999;
    }
    a{
      font-size: 14px;
      color: #999;
    }
  }

  .dateCon{
    width: 802px;
    background-color: #fff;
    padding: 0 49px 34px 49px;
    clear: both;
    box-shadow:0 1px 5px #ccc;
    .headNav{
      width: 100%;
      line-height:62px;
      border-bottom: #dedede 1px solid;
      margin-bottom: 32px;
      position: relative;
      .ups{
        display: inline-block;
        width: 85px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #fff;
        background-color: #d8251e;
        position: absolute;
        right:10px;
        top:12px;
      }
    }
    .myups{
      height: 96px;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: #efefef 1px solid;
      .workImg{
        width: 96px;
        height: 96px;
      }
      .texts{
         width: 480px;
        margin: 0 20px;
        .songName{
          color: #000;
          font-size: 18px;
          margin-right: 5px;
        }
        a{
          margin-left: 3px;
          color: #999;
        }
        .peoName{
          color: #999;
          line-height: 45px;
        }
      }
      .times{
        width: 185px;
        text-align: right;
        .shen01{
          color: #000;
          font-size: 18px;
          margin-bottom: 54px;
        }
        .shen02{
          color: #999;
          font-size: 18px;
          margin-bottom: 54px;
        }
        .shen03{
          color: #d8251e;
          font-size: 18px;
        }

        .fei{
          color: #000;
          font-size: 14px;
          margin: 10px 0 28px 0;
        }
        .upTime{
          color: #bbb;
          font-size: 12px;
        }
      }
    }
    .myups:last-child{
      border-bottom:none;
    }


    .btns{
      margin:0 32%;
      a{
        display: inline-block;
        width: 126px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #dedede;
        font-size: 16px;
      }
      .up{
        background-color: #333;
      }
      .down{
        background-color: #d8251e;
        margin-left: 20px;
      }
    }

  }
  .dateFoot{
    width: 100%;
    line-height: 58px;
    text-align: center;
    color: #666;
    font-size: 14px;
    background-color: #f6f6f6;
    box-shadow: 0 1px 5px #ccc;
  }
}