body{height: 100%;overflow: hidden;}
.block{
  padding: 80px 50px 50px 50px;position: absolute;width:400px;top:190px;;left:50%;margin-left: -250px;
  background: #fff;border:1px solid #dedede;box-shadow: 0px 2px 6px #dedede;border-radius: 8px;

}
.loginBK{
  .table.title{}
}
.loginBK{
  .title{
    width:500px; height:80px; background-position: -503px -1px;
  }
}
.title{ height: 80px;display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image: url('../imgs/common.png');position: absolute;left:0;right:0;top:0;}
.title.findpwd{background-position: -1px -83px;}
.table{
  font-size: 16px;margin: 0;
  .tr{
    overflow: hidden;
    .inputWrapper{
      input[type="text"]{width:290px;}
    }
    .label{
      float: left;text-align: center;line-height: 16px;
      .name{letter-spacing: 2px;margin-top: 6px;}
      .help{font-size: 12px;color: #dedede;letter-spacing: 2px;}
    }
    .con{margin-left: 90px;}
    .forgetPassword{
      text-align: right;font-size: 14px;
      a{color: #bbb;}
    }
  }
  .tr{float: none;clear: both;content: "";display: block; }
}
.inputCode{
  .icon{
    display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image: url('../imgs/common.png');
    vertical-align: middle;
    margin: 0 12px;
  }
  .bg04{
    width:18px; height:18px; background-position: -503px -83px;
  }
  .bg05{
    width:18px; height:18px; background-position: -523px -83px;
  }
  a{
    display: inline-block;
    width: 120px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: #dedede 1px solid;
    border-radius:8px;
    color: #333;
    font-size: 14px;
    background: url("../imgs/passbg.jpg") repeat-x;
    margin-left: 10px;
    cursor:pointer;
  }
}
.errorMSG{color: #d8251e;text-align: center;}
