*{margin: 0;padding:0;}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef;
}

a {
  color: #00B7FF;
}
.header{height: 80px;background: #fff;}
.footer{height: 200px;background: #333;}